.adoheader {
    height:900px;
    width:auto%;
    background-image: url('../Img/slide-home.jpg');
    background-repeat:no-repeat;
    background-cover: fill;
}
no-padding {

padding: 0px !important;
}

no-margin {body {
    font-family: 'Source Sans Pro', sans-serif;
}

.adoHeader {
    height: 747px;
    width: 100vw;
    display: block;
    background-image: url('../Img/slide-home-01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.logo {
    margin-left: 50px;
    margin-top: 23px;
}

.ado-container{
  /*overflow: hidden;*/
  padding-bottom: 545px;
}

#navlist li
{
    display: inline;
    list-style-type: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding-left: 46px;
    text-transform: uppercase;
}

#navlist {
    padding-top: 23px;
    margin-right: 50px;
}

#navlist li a {
    color: #fff;
}

#navlist li a:hover {
    color: #FFC400;
    text-decoration: none;
}
margin:0px !important;

}
.logo {
margin-left:50px;
margin-top: 23px;
}
#navlist li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    font-family: soufont-family: 'Source Sans Pro', sans-serif;
    color:#fff;
    font-size:23px ;
    text-transform:uppercase;
    font-weight: 23px;
    padding-left:46px;
    padding-top: 23px;
}
#navlist {
padding-top:23px;
margin-right:97px;

}
    #navlist li a {
        color: #fffff;
    }

    #navlist li a :hover{
        color: #ffc400;
        text-decoration:none ;
    }


    .ado-hearder{
      font-size: 120px;
      color: #fff;
      font-family: 'Source Sans Pro', sans-serif;
      line-height: 132px;
      margin-right: 97px;
      margin-top: 200px;
      text-align: right;
      bottom: 52px


    }
.scroll-down{
width: 100px;
height: 60px;
  font-family: 'Source Sans Pro', sans-serif;
  color: £fff;
  text-align: center;
  font-size :24px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  margin-top: 585px;

  }

  .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ” “;
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.info-row-one{
padding-left: 109px;
  color: #2E3135;
  font-family: 'Source Sans Pro', sans-serif;

}
.info-row-one h2{
  font-size: 72px;

}

.info-row-one p{

  font-size:20px ;

  margin-top: 42px;
}

.info-row-one h3{
  margin-top: 51px;
  font-size: 27px;
  font-weight: bold;
    color: #2E3135;
}

.ado-info-img{

  margin-top: 200px;

}

footer{
  height: 445px;
  position: relative;
  background-color: #2E3135;
  display: block;
  width: 100%;
  bottom: 0px;
      font-family: 'Source Sans Pro', sans-serif
        color: #f5f5f5;
}

footer h2{

  font-size: 72px;
  font-weight: 900px;


}
footer h3{
font-size: 30px;

}

footer p{
font-size: 20px;
font-weight: normal;
}

footer p a{
  color: #FFC400;
  text-transform: lowercase;
}

footer p a :hover{
  color: #fff;
}

.link-overlay-opacity{
  opacity: 1;
  -webkit-transition: all 800ms ease;
  -moz-transition:all 800ms ease;
  -ms-transition:all 800ms ease;
  -o-transition:all 800ms ease;
  transition: all 800ms ease;
}
.link-overlay-opacity:hover{
  opacity: 0.1;
  -webkit-transition: all 800ms ease;
  -moz-transition:all 800ms ease;
  -ms-transition:all 800ms ease;
  -o-transition:all 800ms ease;
  transition: all 800ms ease;
}

.try{
color: white;
    width: 100px;
    height: 100px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    margin-top: 1100px;
    margin-left: 250px;
    background-color:white ;

}
