.input-card {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #31313a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.send{
background-color:#0b9c62;
color:#ffffff;
border-radius:5px;
border: none;
font-weight:3px;
}
.attachment{
  background-color:#0b9c62;
  color:#ffffff;
  border-radius:5px;
  border: none;
}
.input-items{
text-align: right;
text-transform:capitalize;
position: relative;
margin-right:22px;

}
