<div class="scrollbar" id="style-2">
  <div *ngFor="let m of mess">
    <div [ngClass]="m.mine ? 'Mine': 'notMine'">
      <div class="card-content">
        <h5>By: {{m.name }} {{m.surname}}</h5>
        <h5>
          <i class="fa fa-clock-o" aria-hidden="true"></i> {{m.time}}</h5>
        <hr> {{m.content}}
      </div>
    </div>
  </div>
</div>


























<!-- <div>     <strong>
                  <h1>{{chat}}</h1>
                </strong> -->

<!-- <div *ngIf="isEditing; then showEdit else showMsg"> -->
<!-- (editId == i) && -->
<!-- <ng-template #showMsg> -->
<!-- </ng-template> -->
<!-- <ng-template #showEdit> -->
<!-- <input type="text" value="{{chat.body}}" (keyup.enter)="updateChatroom(chat.body) "> -->
<!-- </ng-template> -->
<!-- </div> -->

<!-- <p> By:
                  <a href="#" class="ico pop">{{chat.id}}</a>
                </p>
            </div>-->
