/* .appTitle{
  font-family: 'Tangerine', cursive;
font-size:87px;
text-transform:capitalize;
} */

textarea {
  resize: none;
}
.Mine{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: cadetblue;
  margin-left: 5px;
  max-width: 80%;
  padding-left: 12px;
  border-radius: 10px;
  border-left:4px solid #03033d;
  /* border-left:4px solid  #0b9c62; */

}


.notMine{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #77777759;
  margin-left: 196px;
  border-right:4px solid #03033d ;
  max-width: 80%;
  padding-left: 12px;
  border-radius: 10px;
}
.card-content{
  /* padding-top: 4px; */

}



.inbox-card {
  /* position: relative; */
  width: 100%;
  /* height: 150px; */
  background-color:#cacad8;
}

.group-card{
 width: 100%;
 background-color:#cacad8;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}










/* ============----------------------------------------------------------------------------- */

#style-2::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	border-radius: 10px;
  background-color: #0b9c62;
  /* border: #0b9c62; */
}

#style-2::-webkit-scrollbar
{
	width: 2px;
	background-color: #0b9c62;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #03033d;
}


.scrollbar
{
	margin-left:-14px;
	float: left;
	height: 480px;
	width: 100%;
  background: #F5F5F5;
  /* background-color:transparent; */
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow{
	/* min-height: 100%; */
}


